<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Opengento\Document\Model\Document\Collection\FrontendVisibilityModifier">
        <arguments>
            <argument name="visibilities" xsi:type="array">
                <item name="search" xsi:type="const">Opengento\DocumentSearch\Api\SearchInterface::VISIBILITY_SEARCH</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Opengento\DocumentSearch\Model\Collection\CollectionModifier">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="visibility" xsi:type="object">Opengento\Document\Model\Document\Collection\FrontendVisibilityModifier</item>
                <item name="select" xsi:type="object">Opengento\Document\Model\Document\Collection\SelectModifier</item>
                <item name="sorter" xsi:type="object">Opengento\DocumentWidget\Model\Document\Collection\SorterModifier</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Opengento\DocumentWidget\ViewModel\VisibleDocumentType">
        <arguments>
            <argument name="visibilities" xsi:type="array">
                <item name="search" xsi:type="const">Opengento\DocumentSearch\Api\SearchInterface::VISIBILITY_SEARCH</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Opengento\DocumentSearch\ViewModel\SearchableDocumentType" type="Opengento\DocumentWidget\ViewModel\DocumentType">
        <arguments>
            <argument name="visibilities" xsi:type="array">
                <item name="search" xsi:type="const">Opengento\DocumentSearch\Api\SearchInterface::VISIBILITY_SEARCH</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Opengento\DocumentSearch\Block\Widget\Search">
        <arguments>
            <argument name="documentTypeViewModel" xsi:type="object">Opengento\DocumentSearch\ViewModel\SearchableDocumentType</argument>
        </arguments>
    </type>
</config>
